/*
Theme Name: Elevenbyte
Theme URI: https://wordpress.org/themes/twentyseventeen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Stworzony z Twenty Seventeen i dostosowany dla Darmet przez Elevenbyte.
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: elevenbyte
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

body {
    font-family: Lato, sans-serif !important;
    border-top: 8px solid #EFEFEF;
overflow-x: hidden;
}

.btn-primary {
    color: #fff;
    background-color: #63b32e;
	background-image: linear-gradient(to bottom,#63b32e 0,#63b32e 100%);
    border-color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    padding: 10px 15px;
    border-radius: 0px;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #1d1d1b;
    border-color: #337ab7;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover {
background-color: #63b32e;
background-image: -webkit-linear-gradient(top,#63b32e 0,#63b32e 100%);
background-image: -o-linear-gradient(top,#63b32e 0,#63b32e 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#63b32e),to(#63b32e));
background-image: linear-gradient(to bottom,#63b32e 0,#63b32e 100%);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover {
    color: #fff;
    background-color: #82cd50;
	background-image: linear-gradient(to bottom,#82cd50 0,#82cd50 100%);
    border-color: #fff;
}

.offer-roz p {
	text-transform: inherit !important;
	margin-top: 5px !important;
	line-height: 1.7;
}

.navbar-toggle .icon-bar {
    width: 47px;
    height: 7px;
    border-radius: 0px;
    background: #63b32e;
}
.navbar-toggle {
    margin-top: -1px;
    margin-right: 0px !important;
    padding-right: 0px !important;
}

.mango {
    margin-bottom: 0px;
}

.kiwi {
    float: left;
    width: 100%;
}

.ofer h2 p {
    font-size: 17pt;
    text-transform: capitalize;
}

.heipo {
	height: 300px;
	background-position: center center;
	background-size: cover;
	cursor: pointer;
}

.cent {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 20px;
	color: #fff;
	font-weight: 700;
	font-size: 15pt;
	text-align: center;
	opacity: 0;
}

.centobg {
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0;
}

.heipo .centobg:hover {
	opacity: 0.85;
}

.heipo:hover .cent {
	opacity: 1;
}

.cent:hover + .centobg {
    opacity: 0.7;
}

.janko .col-sm-12 {
    height: 115px;
}

.ofer>.row>a>p {
overflow: hidden;
height: 20px;
padding-top: 20px;
-webkit-transition: all 100ms cubic-bezier(0.550, 0.145, 0.470, 0.900);
-moz-transition: all 100ms cubic-bezier(0.550, 0.145, 0.470, 0.900);
-o-transition: all 100ms cubic-bezier(0.550, 0.145, 0.470, 0.900);
transition: all 100ms cubic-bezier(0.550, 0.145, 0.470, 0.900);
-webkit-transition-timing-function: cubic-bezier(0.550, 0.145, 0.470, 0.900);
-moz-transition-timing-function: cubic-bezier(0.550, 0.145, 0.470, 0.900);
-o-transition-timing-function: cubic-bezier(0.550, 0.145, 0.470, 0.900);
transition-timing-function: cubic-bezier(0.550, 0.145, 0.470, 0.900);
}

.ofer .row a:hover p {
padding-top: 0px;
}



.konmap {
    margin-top: 30px;
    height: 350px;
}

.page-id-13 .poroziel, .page-id-232 .poroziel {
	margin-top: 30px;
	margin-bottom: 50px;
}

.poroziel .pe {
    color: #cbeeb4 !important;
}

.poroziel .braz {
    background: #63b32e;
}

img {
    max-width: 100%;
}

.form-control {
    border: 4px solid #63b32e;
    border-radius: 0px;
    height: 50px;
    margin-bottom: 20px;
    width: 100% !important;
    font-weight: 800;
}

.btn-big {
    padding: 13px 40px;
    float: right;
    margin-top: -49px;
    border: 0;
}

.texre textarea {
    height: 214px;
    margin-bottom: 0px;
}

.kryska {
    height: 1px;
    width: 100px;
    max-width: 100%;
    background: #63b32e;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ofertos {
    margin-top: 20px;
    margin-bottom: 20px;
}

.burzy {
    font-weight: 400 !important;
    font-size: 23pt !important;
    text-transform: none !important;
    margin-bottom: -3px;
}

.melon {
    color: #fff;
    background-color: #63b32e;
    border-color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    padding: 10px 15px;
    border-radius: 0px;
    width: 100%;
    margin-top: 45px;
    float: left;
}

.janko {
    margin-top: 50px;
    margin-bottom: 50px;
}

.navbar {
    margin-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand {
    margin-top: -40px;
}

.gora p {
    display: inline-block;
    margin-top: -10px;
}

#langs img {
	padding-right: 0px;
	border-right: 0px solid #D7D7D7;
}

#langs li {
    padding: 0px 0px !important;
}

.lang-item span {
display: none;
}

.gora {
    float: right;
    margin-top: -7px;
    margin-bottom: 8px;
}

.gora img {
    display: inline-block;
    margin-top: -1px;
    padding-right: 15px;
    border-right: 1px solid #D7D7D7;
    margin-right: 15px;
}

.fejs {
    color: #63b32e;
    margin-right: 10px;
    font-weight: 700;
}

.fico {

}

.kolko {
    background: #fff;
    border-radius: 500px;
    width: auto;
    padding: 24px 37px;
    display: inline-block;
    font-size: 21pt;
    font-weight: 800;
    color: #63b32e;
    margin-bottom: 9px;
}

.omenu ul li {
    background: #1d1d1b;
    padding: 0px 15px;
    font-size: 12pt;
    font-weight: 900;
    margin-left: 2px;
}

.omenu ul li:last-child {
    background: #63b32e;
}

.omenu ul li:last-child a:hover {
    background: #63b32e !important;
    color: #000;
}

.omenu ul li a {
    color: #fff;
}

.omenu ul li a:hover {
    background-color: #1d1d1b !important;
    color: #63b32e;
}

.omenu ul li a:focus {
    background-color: #1d1d1b !important;
    color: #63b32e;
}

.omenu ul .dropdown-menu li {
    background: #fff;
    padding: inherit;
    font-size: 12pt;
    font-weight: 900;
    margin-left: 2px;
}

.omenu ul .dropdown-menu li a {
    color: #000;
}

.oslide {
    padding-bottom: 205px !important;
    padding-top: 100px !important;
}

.oslide h1 {
    background: #63b32e;
    float: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 27pt;
    font-weight: 800;
    padding: 14px 23px;
    background-position: center center;
    background-size: cover;
}

.pomoc {
    background-position: center center;
    background-size: cover;
}

.baps {
    background-position: center center;
    background-size: cover;
    height: 250px;
    position: relative;
    margin-bottom: 29px;
    filter: brightness(75%);
}

.trans {
    webkit-transition: all 200ms cubic-bezier(0.550, 0.145, 0.470, 0.900);
    -moz-transition: all 200ms cubic-bezier(0.550, 0.145, 0.470, 0.900);
    -o-transition: all 200ms cubic-bezier(0.550, 0.145, 0.470, 0.900);
    transition: all 200ms cubic-bezier(0.550, 0.145, 0.470, 0.900);
    -webkit-transition-timing-function: cubic-bezier(0.550, 0.145, 0.470, 0.900);
    -moz-transition-timing-function: cubic-bezier(0.550, 0.145, 0.470, 0.900);
    -o-transition-timing-function: cubic-bezier(0.550, 0.145, 0.470, 0.900);
    transition-timing-function: cubic-bezier(0.550, 0.145, 0.470, 0.900);
}

.baps:hover {
    filter: brightness(100%);
    cursor: pointer;
    transform: scale(1.02);
}

.ple {

}

.srodek {
    padding-top: 40px;
}

.zespol {
    margin-bottom: 32px;
}

.liczby {
    padding-top: 80px;
    padding-bottom: 100px;
}

.cyf {
    font-size: 42pt;
    font-weight: 800;
}

.cyg {
    color: #63b32e;
    text-transform: uppercase;
    margin-top: -20px;
    font-size: 17pt;
}

.zespol .duzy {
    text-transform: capitalize;
    font-size: 23pt !important;
}

.onas .duzy {
    margin-bottom: 10px !important;
    margin-top: -14px;
}

.onas .ple p {
    font-size: 12pt;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.ope{
    background: #fff;
    float: left;
    color: #181818;
    font-size: 11pt !important;
    font-weight: 800 !important;
    padding: 14px 23px;
    margin-top: -10px;
}

.ope p{
    color: #181818;
    font-size: 11pt !important;
    font-weight: 800 !important;
}

.btn-link {
    color: #63b32e !important;
    font-weight: 700;
}

.nopadding {
    padding: 0 !important;
}

.ofer h2{
    font-size: 17pt;
    font-weight: 800;
}

.ofer p {
    font-size: 10pt;
    text-transform: uppercase;
    margin-top: -8px;
}

.ofer img {
    margin-bottom: 10px;
}

.ofer {
    padding-top: 45px;
    padding-bottom: 60px;
    margin-top: -130px;
    background: #fff;
    position: relative;
    z-index: 2;
}

.pomoc {
    padding-top: 103px !important;
    margin-top: -85px;
}

.pomoc p {
    color: #fff;
    font-size: 11pt;
    margin-bottom: 5px !important;
    font-weight: 600;
}

.duzy {
    text-transform: uppercase;
    font-size: 27pt !important;
    font-weight: 800 !important;
    margin-bottom: 35px !important;
    margin-top: 25px;
}

.pomoc .duzy {
    color: #fff;
}

.pomoc strong {
    text-transform: uppercase;
    font-weight: 900;
}

.cudzy {
    font-size: 56pt;
    font-weight: 800;
    line-height: 60px;
    color: #63b32e;
}

.zaufa p {
    line-height: 1.65;
}

.mbtt {
    margin-bottom: 20px;
}

.name {
    font-weight: 900;
    color: #71665a;
}

.braz {
    background: #71665a;
    color: #fff;
    padding-left: 31px;
    padding-bottom: 23px;
}

.medium {
    text-transform: uppercase;
    font-size: 17pt !important;
    font-weight: 800 !important;
    margin-bottom: 10px !important;
    margin-top: 25px;
    color: #fff !important;
    position: relative;
    z-index: 9999;
}

.pe strong {
    color: #fff !important;
}

.braz .pe {
    margin-bottom: 5px !important;
    padding-bottom: 0px !important;
    color: #d6cfc8;
    position: relative;
    z-index: 9999;
}

.btn-huge {
    width: 100%;
    padding: 20px;
    font-size: 14pt;
}

.kontakt_ico {
    width: 10%;
    padding-top: 2px;
    float: left;
    position: relative;
    z-index: 9999;
}

.stopka {
    padding-top: 14px;
}

.stopka p.paragraph {
    text-transform: uppercase;
    font-size: 11pt !important;
    font-weight: 800 !important;
    margin-bottom: 5px !important;
    margin-top: 37px;
}

.stopka .nav {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-gap: 50px;
    -ms-column-gap: 50px;
    -o-column-gap: 50px;
    column-gap: 50px;
}

.stopka .nav li {
    float: none;
	min-width: 120px;
}

.stopka .nav li a {
    padding: 0;
    color: #776c60;
    font-weight: 800;
}

.stopka .nav li a:hover {
    background: #fff;
}

.copy {
    text-transform: none !important;
    font-size: 8pt !important;
    margin-top: 70px !important;
    color: #acacac;
}

.kontakt_ico img {
    margin-top: -9px;
}

.pomoc .col-sm-12 {
    margin-bottom: 50px;
}

.poroab {
    position: absolute;
    bottom: 0;
    right: 0;
}

footer .navbar-nav {
    margin-left: 0px;
}

.bebe {
    background: #63b32e;
    float: left;
    color: #fff;
    font-size: 10pt;
    font-weight: 800;
    padding: 8px 11px;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.mapen {
    overflow: hidden; padding-right: 0; float: right;
}

.mba {
    margin-bottom: 20px !important;
}

.wdth {
    width: 100%;
}

.wycena label {
    margin-top: 11px;
    font-size: 12pt;
}

.omenu .dropdown-menu li:last-child a:hover {
    background-color: #e8e8e8 !important;
background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}

.wdth .checkbox-inline {
    margin-top: -1px;
    margin-bottom: 28px;
    width: 100%;
}

.wdth .radio-inline {
    font-weight: 700;
}

.wdth .radio-inline input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

.wdth .radio-inline label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

input[type="radio"]:checked ~ label {
    color: #0DFF92;
}

.checkbox-inline .wpcf7-list-item label{
    margin: 0;
    position: relative;
}

.checkbox-inline .wpcf7-list-item .wpcf7-list-item-label{
    padding-left: 33px;
}

.checkbox-inline .wpcf7-list-item input[type="radio"]{
    display: none;
}

.checkbox-inline .wpcf7-list-item-label:before{
    display: block;
    position: absolute;
    border: 4px solid #D7D7D7;
    border-radius: 0;
    height: 25px;
    width: 25px;
    top: 0;
    left: -14px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.checkbox-inline .wpcf7-list-item input[type="radio"]:checked ~ .wpcf7-list-item-label:before {
    border: 4px solid #63b32e;
}

.checkbox-inline .wpcf7-list-item{
    line-height: 25px;
    width:50%;
    float:left;
    margin:0;
}

.wdth .radio-inline .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type="radio"]:checked ~ label {
    color: #0DFF92;
}

/*input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=radio   ]:not(old) + label > span{
	display: inline-block;
	width: 1.875em;
	height: 1.875em;
	margin: 0.25em 0.5em 0.25em 0.25em;
	border: 0.0625em solid rgb(192,192,192);
	border-radius: 0;
	background: rgb(224,224,224);
	background-image: -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image: -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image: -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image: -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image: linear-gradient(rgb(240,240,240),rgb(224,224,224));
	vertical-align: bottom;
}

input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=radio]:not(old):checked + label > span > span{
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0.125em;
	border-radius: 0.125em;
	background: #63b32e;
}

.wdth .col-sm-8 .checkbox-inline {
	width: 100%;
}

.wdth .col-sm-8 .checkbox-inline .radio-inline {
	width: 40%;
}*/

@media screen and (max-width: 340px) {

    .navbar-brand {
        margin-top: -30px;
        max-width: 200px;
    }

    .fejs {
        font-size: 8pt;
    }

    .navbar {
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 470px) {
    .duzy {
        text-transform: uppercase;
        font-size: 21pt !important;
    }
}

@media screen and (max-width: 767px) {
    .dem {
        display: none;
    }

    .ona2 {
        margin-top: 20px;
    }

    .poro .medium {
        padding-top: 30px;
    }

    .mapen {
        padding-right: 15px;
    }

    .baps {
        filter: brightness(100%);
    }
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
    .omenu ul li {
        background: #1d1d1b;
        padding: 0px 6px;
        font-size: 10pt;
        font-weight: 900;
        margin-left: 2px;
    }
}

@media screen and (max-width: 990px) {
    .ona {
        margin-top: 25px !important;
    }
}

@media screen and (max-width: 1000px) {
    .dem {
        display: none;
    }

}

@media screen and (max-width: 1100px) {

    .navbar-collapse{
        margin-top: 29px;
    }

    .stopka p {
        margin-top: 0px;
    }

    .row-eq-height {
        display: block;
        display: block;
        display: block;
        display: block;
    }

    .braz {
        margin-bottom: 25px;
    }

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

#langs .lang-item {
    background: transparent;
}

#langs .lang-item:hover{
    background: transparent;
}

#langs .lang-item a{
    color: #333;
    font-weight: normal;
    text-transform: lowercase;
    font-size: 14px;
}

#langs .lang-item a:hover{
    background: transparent!important;
    color: #333;
    font-weight: normal;
    text-transform: lowercase;
    font-size: 14px;
}

#map{
    min-height: 300px;
    width: 100%;
    max-width: 1920px;
}

#map-fast{
    height: 100%;
    width: 100%;
    max-width: 1920px;
    max-height: 500px;
}

.wpcf7-form br{
    display: none;
}